<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <!-- thư viện -->
    <!-- FONT GG -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- FONT ASOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Link css -->
    <link rel="stylesheet" href="../asset/sass/css/main.css">
</head>

<body>
    <div class="sign login">
        <div class="login__small sign__small">
            <div class=" sign__text">
                <form>
                    <div class="form-group">
                        <label class="lable__tk" for="exampleInputEmail1">Tài khoản</label>
                        <input type="email" class="form-control taiKhoan" id="email" placeholder="name@example.com"
                            aria-describedby="emailHelp">
                        <span id="spanTKUP" class="text-warning spanTB"></span>
                    </div>
                    <div class="form-group">
                        <label class="lable__mk" for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control matKhau" id="matKhau" placeholder="Mật khẩu của bạn">
                        <span id="spanMKUP" class="text-warning spanTB"></span>
                    </div>
                    <div class="form-group">
                        <label class="lable__name" for="exampleInputPassword1">Họ và tên</label>
                        <input type="text" class="form-control hoTen" id="hoTen" placeholder="Nhập họ và tên">
                        <span id="spanTenUP" class="text-warning spanTB"></span>
                    </div>
                    <div class="gender">
                        <h2>Chọn giới tính</h2>
                        <ul>
                            <li class="type">
                                <input id="Nam" type="radio" name="selector">
                                <label for="Nam">Nam</label>
                                <div class="check"></div>
                            </li>
                            <li class="type">
                                <input id="Nu" type="radio" name="selector">
                                <label for="Nu">Nữ</label>
                                <div class="check"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="form-group">
                        <label class="lable__SDT" for="exampleInputPassword1">Số điện thoại</label>
                        <input type="text" class="form-control SDT" id="SDT" placeholder="Nhập số điện thoại">
                        <span id="spanSDTUP" class="text-warning spanTB"></span>
                    </div>
                    <div class="btnLog"><button id="btn__sign" type="button"
                            class="btn btn-primary login__btn sign__btn">Submit</button>
                        <button id="btn__home" type="button" class="btn btn-primary btn__home"><a
                                href="../index.html">Home</a></button>
                    </div>

                </form>
            </div>
            <div class=" sign__img">
                <img src="../asset/img/sign-shoes.jpg" alt="">
            </div>

        </div>
    </div>


    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../model/user.js"></script>
    <script src="../model/Validation.js"></script>
    <script src="../model/sign.js"></script>
</body>

</html>